
/* Global */
* {
    /* font-size: 1rem; */
    font-family: 'Raleway', 'Arial Black', Arial, Verdana, sans-serif;
}
h1 {
    font-size: 1.2rem;
}
h2 {
    font-size: 1.3rem;
}
strong {
    font-weight: bolder;
    font-size: 1.1em;
}
input {
    font-weight: bolder;
    font-size: 1.1em;
}
h4 {
    font-weight: bolder;
    font-size: 1.2em;
}

body {
    margin : 0px;
}
.main {
    max-width: 1750px;
    padding-right: -20px;
    padding-left: 20px;
    margin: auto;
}
.bg-gray {
    background-color: #F2F2F2;
}
.rounded-border {
    border: 0px solid #F2F2F2;
    border-radius: 25px;
}
/* Background images */

/* LODGING IMAGE */
#img-marcus {
    background: url('/ressources/pictures/lodging/4_small/marcus-loke-WQJvWU_HZFo-unsplash.jpg');
    background-position: center;
    background-size: cover
}
#img-fred {
    background: url('/ressources/pictures/lodging/4_small/fred-kleber-gTbaxaVLvsg-unsplash.jpg');
    background-position: center;
    background-size: cover
}
#img-reisetopia {
    background: url('/ressources/pictures/lodging/4_small/reisetopia-B8WIgxA_PFU-unsplash.jpg');
    background-position: center;
    background-size: cover
}
#img-annie {
    background: url('/ressources/pictures/lodging/4_small/annie-spratt-Eg1qcIitAuA-unsplash.jpg');
    background-position: center;
    background-size: cover
}
#img-nicate {
    background: url('/ressources/pictures/lodging/4_small/nicate-lee-kT-ZyaiwBe0-unsplash.jpg');
    background-position: center;
    background-size: cover
}
#img-amina {
    background: url('/ressources/pictures/lodging/4_small/febrian-zakaria-M6S1WvfW68A-unsplash.jpg');
    background-position: center;
    background-size: cover
}

/* POPULAR IMAGE */
#img-emilie {
    background: url('/ressources/pictures/lodging/4_small/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg');
    background-position: center;
    background-size: cover
}
#img-aw {
    background: url('/ressources/pictures/lodging/4_small/aw-creative-VGs8z60yT2c-unsplash.jpg');
    background-position: center;
    background-size: cover
}
#img-febiran-sj {
    background: url('/ressources/pictures/lodging/4_small/febrian-zakaria-sjvU0THccQA-unsplash.jpg');
    background-position: center;
    background-size: cover
}
/* ACTIVITIES */
#img-reno {
    background: url('/ressources/pictures/activities/4_small/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg');
    background-position: center;
    background-size: cover
}
#img-paul {
    background: url('/ressources/pictures/activities/4_small/paul-hermann-QFTrLdQIRhI-unsplash.jpg');
    background-position: center;
    background-size: cover
}
#img-kevin {
    background: url('/ressources/pictures/activities/4_small/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg');
    background-position: center;
    background-size: cover
}
#img-kilyan {
    background: url('/ressources/pictures/activities/4_small/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg');
    background-position: center;
    background-size: cover
}
#img-florian {
    background: url('/ressources/pictures/activities/4_small/florian-wehde-xW9e8gdotxI-unsplash.jpg');
    background-position: center;
    background-size: cover
}
#img-lena {
    background: url('/ressources/pictures/activities/4_small/lena-paulin-wH2-EJoDcV0-unsplash.jpg');
    background-position: center;
    background-size: cover
}
.bg-white {
    background-color:white;
}

/* Header */
/* header {
    max-width: 100%;
} */
nav {
    display: flex;
    justify-content: flex-end;
    width:100%;
}
.logo {
    display: flex;
    align-self:left;
}
.space {
    flex: 99;
}
.nav-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-around;
    align-self: flex-end;

    height: 75px;
    width: 15%;
  
    border-top: 2px solid #ffffff;
}
.nav-item:hover{
    border-top: 2px solid #0065FC;
    color: #0065FC; 
}
.color-blue {
    color: #0065FC;
}
.nav-link {
    font-size: 1.1rem;
    color: #535353;
    text-decoration: none;
    text-align: center;
    
}
.nav-link:hover {
    color: #0065FC; 

}

        /* Items  */
/* Search bar*/

#search-bar {
    display: flex;
    background-color: #F2F2F2;
    justify-content: space-between;
    height: 40px;
    width: 25%;
    border: 3px solid #F2F2F2;
    border-radius: 20px;
}
.fa-map-marker-alt {
    margin:auto; 
    font-size: 1.4rem;
    
}
.local-icon {
    flex: 7;
    width: 55px;
    padding-left: 10px;
    margin: auto;
    display: flex;
    justify-content: center;
    margin-right: 15px;

}
.item-search {
    height: 100%;
    margin: auto;
}
.search-bar, input
{
    flex: 80;
    border: none;
    padding-left: 10px;

}
.search-bar, button {
    flex:13;
    background-color: #0065FC;
    border: 3px solid #1C6EA4;
    border-radius: 0px 20px 20px 0px;;
    color : white;
    font-size: 1rem;

    font-weight: bold;
}
/* Filter Items */

#filter {
    flex-wrap: wrap;
    max-width: 60%;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 15px;
}
.f-item {
    font-weight: bolder;
    align-items: center;
    text-align: center;

    height: 40px;
    width: fit-content;

    padding-right: 15px;
    margin-left: 30px;
    margin-top: 10px;
    margin-bottom: 10px;

    border: 1px solid #aaaaaa;
    border-radius: 40px;
}
.f-icon {
    justify-content: center;
    align-items: center;
    margin-left: 0.1px;

    height: 40px;
    width: 40px;
    
    color: #0065FC;
    background-color: #DEEBFF;

    border: 1px #aaaaaa;
    border-radius: 40px;
}
.f-text {
    margin-left:15px;
}
#info {
    justify-content: center;
    align-items: center;
    margin-left: 0.1px;

    height: 30px;
    width: 30px;
    
    color: #0065FC;
    /* background-color: #DEEBFF; */

    border: 1px solid #aaaaaa;
    border-radius: 40px;
}
#info-text {    
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
    text-align: center;
}

    /* Cards */
/* LODGING  */

#lodg-pop {
    justify-content: space-between;
    flex-wrap: wrap-reverse;
    margin-bottom: 40px;
}
.row-lodg {
    flex-wrap: wrap;
    justify-content: space-around;
}



#lodging {
    padding:20px;
    width: 62%;
    min-width: fit-content;
}
.it-lodg {
    align-items: space-between;
}
.c-lodg {
    width: 30%; /* for display 3 cards on min 1280px larg screen*/
    
    padding: 5px;
    padding-bottom: 10px;

    -webkit-box-shadow: 0px 0px 30px 5px #68686838; 
    box-shadow: 0px 0px 30px 5px #68686838;
}
.c-lodg-text {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    justify-items: flex-end;
}
.c-lodg-img {
    background-size: contain;
    height: 120px;
    padding: 5px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}
.rating {
    font-size: 0.8rem;
    margin: 10px;
    color:#dadada
}
.checked{
    color: #0065FC;
}

/* Horizontal cards */

/* POPULAR */
#popular {
    padding:20px;
    width: 28%;
    min-width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}
.it-pop {
    height: 100%;
}
.c-pop {
    width: 90%;
    height: 25%;
    margin: auto;
    padding: 5px;
    padding-bottom: 10px;

    background-size: contain;
    padding: 5px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    

    -webkit-box-shadow: 0px 0px 30px 5px #68686838; 
    box-shadow: 0px 0px 30px 5px #68686838;
}
.c-pop-text {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 15px;
}
.c-pop-img {
    background-size: contain;
    width: 40%;
    padding: 5px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

.bot > .rating{
    margin-left: 0px;
    justify-self: center;
}
.fa-chart-line {
    align-self: center;
}

/* ACTIVITIES */



#activities {
    justify-content: space-between;
    flex-wrap: wrap;
    min-height: 500px; 
    padding: 0px;
}
#containerAct1 {
    width:50%; /* 640 = 1280/2 */
}

#containerAct2 {
    width:50%;
   
}

.c-act {
    width: 90%; /* for display 3 cards on min 1280px larg screen*/
    height: 100%;
    margin-top: 20px;
    padding: 5px;
    padding-bottom: 10px;
    /* margin: 15px; */

    -webkit-box-shadow: 0px 0px 30px 5px #68686838; 
    box-shadow: 0px 0px 30px 5px #68686838;
}
.c-act-text {
    margin: 15px;
}
.c-act-img {
    background-size: contain;
    height: 100%;
    padding: 5px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.container {
    width: 50%;
    justify-content: center;
}
.act-col {
    width: 50%;
}


.allContent {
    width: 100%;
}

/* Footer */
footer {
    margin-top: 40px;
}
#footer-container {
    width: 70%;
    padding: 40px;
}
.link-default {
    text-decoration: none;
    color: #535353;
}








/* FlexBox */
.mbot {
    margin-bottom: 25px;
}
.flex {
    display: flex;
}
.col {

   flex-direction: column;
}

.justify-between {
    justify-content: space-between;
}
.justify-around {
    justify-content: space-around;
}
.flex-wrap {
    flex-wrap: wrap;
}

/* MEDIA QUERIES  */

@media screen and (max-width: 1280px) /* Tab */
{
    #search {
        display: flex;
        flex-direction: column;
        align-items: center;
    } 
    #lodg-pop {
        display: flex;
        flex-direction: column;
        align-items: center;
    } 
    .main {
        max-width: 1280px;
        width: 100%;
        margin: auto;
    }

    /* Header */
    header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: auto;
    }
    nav {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        /* width: 90%; */
        
    }
    .nav-item {
        width: fit-content;
        order: 100;
        height: 50px;
        margin-top: 25px;
        border-top: none;
        border-bottom: 3px solid #dadada;
    }
    .nav-item:hover{
        border-top: none;
        border-bottom: 3px solid #0065FC;
        color: #0065FC; 
    }
    
    .nav-item:last-child {
        order: 1;
        
    }
    .space {
        display: none;
    }
    .logo{
        width: 26%;
    }
    #sign-in {
        width: 26%;
        order: 1;
        border-bottom: none;

    }
    .sec-row {
        width: 50%;
    }
    /* SEARCH  */
    #search-city {
        display:flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        width: 95%;
    }

    /* Section */ 
    #popular {
        display: flex;
        flex-direction: column;
        width: 85%;
        order: 0;
    }
    .it-pop {
        width: 100%;
        align-items: center;
    }
    .c-pop {
        width: 75%;
    }
    #lodging {
        order: 99;
        margin: 15px;
        width: 85%;
    }
    .row-lodg {
        display: flex;
        align-items: center;
    }
    .c-lodg {
        width: 30%;
        margin: auto;
        margin-bottom: 15px;
    }





    #activities {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;

        width: 90%; 
    }
    #activities-section {
        display: flex;
        flex-direction: column;
        width: 95%;
        align-items: center;
    }
    #containerAct1 {
       width:90%;   /* 640 = 1280/2  */
       height: 450px;
       margin: auto;
       flex-wrap: nowrap;
    }
    
    #containerAct2 {
        width:90%;
        height: 450px;
        margin: auto;
    }
    
    /* footer */

    #footer-container {
        display:flex;
        flex-direction:column
    }
    
} /* END MEDIA TAB*/


@media screen and (max-width: 640px) {  /* mobile */

/* Images cards populaire plus hautes
    Margin intersection en moins
    revoir width cartes activités

*/



* {
    font-size: 0.99em;
}
  .main {
        display: flex;
        flex-direction: column;
        margin: 0px;
        padding: 0px;
    }
    #search-city {
       align-items: flex-start;
       padding: 10px;
    }
    #search-bar {
        align-self: center;
        width: 90%;
    }
    #filter {
       
        max-width: 90%;
    }
    #group-filter {
        flex-direction: row;
        width: 100%
    }
    .row-lodg {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    /* .row-lodg {
        display: flex;
        flex-direction: column;
    } */
    .c-lodg {
        width: 100%;
        margin: auto;
        margin-bottom: 25px;
    }
    /* .rounded-border {
        width: auto;
    } */
  
    #popular {
        width: 100%;
        display: flex;
        flex-direction: column; 
        align-items: center;
        margin: 0px;
        padding: 0px; 
        border-radius: 0px;
    }
    #title-pop {
        width: 90%;
    }
    .c-pop {
        width: 85%;
    }

    #lodging {
        background-color: white;
    }

    #activities-section {
        flex-wrap: wrap;
        height: 100%;
    }
    #containerAct1{
        flex-direction: column;
        justify-content: flex-start;
        height: 100%;
    }
    #containerAct2{
        flex-direction: column;
        justify-content: flex-start;
        height: 100%;
    }
    #activities {
        height: 100%;
    }
    .c-act {
        height: 200px;
        width: 85%;
    }
   
    .container {
        width: 90%;
        margin: auto;
        justify-content: flex-start;
        
    }


}
