
/* Global */
* {
    /* font-size: 1rem; */
    font-family: 'Raleway', 'Arial Black', Arial, Verdana, sans-serif;
}
h1 {
    font-size: 1.2rem;
}
h2 {
    font-size: 1.3rem;
}
h3 {
    font-weight: bolder;
    font-size: 1em;
}
strong {
    font-size: bolder;
}
body {
    margin : 0px;
}
.main {
    max-width: 1750px;
    margin: auto;
}
.bg-gray {
    background-color: #F2F2F2;
}
.rounded-border {
    border: 0px solid #F2F2F2;
    border-radius: 25px;
}
/* Background images */

/* LODGING IMAGE */
#img-marcus {
    background: url('/ressources/pictures/lodging/4_small/marcus-loke-WQJvWU_HZFo-unsplash.jpg');
    background-position: center;
    background-size: cover
}
#img-fred {
    background: url('/ressources/pictures/lodging/4_small/fred-kleber-gTbaxaVLvsg-unsplash.jpg');
    background-position: center;
    background-size: cover
}
#img-reisetopia {
    background: url('/ressources/pictures/lodging/4_small/reisetopia-B8WIgxA_PFU-unsplash.jpg');
    background-position: center;
    background-size: cover
}
#img-annie {
    background: url('/ressources/pictures/lodging/4_small/annie-spratt-Eg1qcIitAuA-unsplash.jpg');
    background-position: center;
    background-size: cover
}
#img-nicate {
    background: url('/ressources/pictures/lodging/4_small/nicate-lee-kT-ZyaiwBe0-unsplash.jpg');
    background-position: center;
    background-size: cover
}
#img-amina {
    background: url('/ressources/pictures/lodging/4_small/febrian-zakaria-M6S1WvfW68A-unsplash.jpg');
    background-position: center;
    background-size: cover
}

/* POPULAR IMAGE */
#img-emilie {
    background: url('/ressources/pictures/lodging/4_small/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg');
    background-position: center;
    background-size: cover
}
#img-aw {
    background: url('/ressources/pictures/lodging/4_small/aw-creative-VGs8z60yT2c-unsplash.jpg');
    background-position: center;
    background-size: cover
}
#img-febiran-sj {
    background: url('/ressources/pictures/lodging/4_small/febrian-zakaria-sjvU0THccQA-unsplash.jpg');
    background-position: center;
    background-size: cover
}
/* ACTIVITIES */
#img-reno {
    background: url('/ressources/pictures/activities/4_small/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg');
    background-position: center;
    background-size: cover
}
#img-paul {
    background: url('/ressources/pictures/activities/4_small/paul-hermann-QFTrLdQIRhI-unsplash.jpg');
    background-position: center;
    background-size: cover
}
#img-kevin {
    background: url('/ressources/pictures/activities/4_small/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg');
    background-position: center;
    background-size: cover
}
#img-kilyan {
    background: url('/ressources/pictures/activities/4_small/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg');
    background-position: center;
    background-size: cover
}
#img-florian {
    background: url('/ressources/pictures/activities/4_small/florian-wehde-xW9e8gdotxI-unsplash.jpg');
    background-position: center;
    background-size: cover
}
#img-lena {
    background: url('/ressources/pictures/activities/4_small/lena-paulin-wH2-EJoDcV0-unsplash.jpg');
    background-position: center;
    background-size: cover
}
.bg-white {
    background-color:white;
}

/* Header */

nav {
    width: 33%;
    flex-wrap: wrap;
}
.nav-item {
    height: 70%;
    width: 33%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-around;
  
    border-top: 2px solid #ffffff;
}
.nav-item:hover{
    border-top: 2px solid #0065FC;
    color: #0065FC; 
}
#sign-in {
    color: #0065FC; 
}
.nav-link {
    font-size: 1.1rem;
    color: #535353;
    text-decoration: none;
    text-align: center;
    
}
.nav-link:hover {
    color: #0065FC; 

}

        /* Items  */
/* Search bar*/

#search-bar {
    display: flex;
    background-color: #F2F2F2;
    justify-content: space-between;
    height: 55px;
    width: 500px;
    border: 3px solid #F2F2F2;
    border-radius: 20px;
}
.fa-map-marker-alt {
    margin:auto; 
    font-size: 1.4rem;
    
}
.local-icon {
    flex: 7;
    width: 55px;
    padding-left: 10px;
    margin: auto;
    display: flex;
    justify-content: center;
    margin-right: 15px;

}
.item-search {
    height: 100%;
    margin: auto;
}
.search-bar, input
{
    flex: 80;
    border: none;
    padding-left: 10px;

}
.search-bar, button {
    flex:13;
    background-color: #0065FC;
    border: 3px solid #1C6EA4;
    border-radius: 0px 20px 20px 0px;;
    color : white;
    font-size: 1rem;

    font-weight: bold;
}
/* Filter Items */

#filter {
    flex-wrap: wrap;
    max-width: 60%;
    align-items: center;
}
.f-item {
    font-weight: bolder;
    align-items: center;
    text-align: center;

    height: 40px;
    width: fit-content;

    padding-right: 15px;
    margin-left: 30px;
    margin-top: 10px;
    margin-bottom: 10px;

    border: 1px solid #aaaaaa;
    border-radius: 40px;
}
.f-icon {
    justify-content: center;
    align-items: center;
    margin-left: 0.1px;

    height: 40px;
    width: 40px;
    
    color: #0065FC;
    background-color: #DEEBFF;

    border: 1px #aaaaaa;
    border-radius: 40px;
}
.f-text {
    margin-left:15px;
}
#info {
    justify-content: center;
    align-items: center;
    margin-left: 0.1px;

    height: 30px;
    width: 30px;
    
    color: #0065FC;
    /* background-color: #DEEBFF; */

    border: 1px solid #aaaaaa;
    border-radius: 40px;
}
#info-text {    
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
    text-align: center;
}

    /* Cards */
/* LODGING  */

#lodg-pop {
    justify-content: space-between;
}



/* .v-img {
    max-width: 100%;
    width:100%;
    height:350px;
    max-height: 145px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
} */
#lodging {
    padding:20px;
    width: 65%;
    min-width: fit-content;
    /* margin: 15px; */
}
.it-lodg {

    align-items: space-between;
}
.c-lodg {
    width: 30%; /* for display 3 cards on min 1280px larg screen*/
    height: 20%;
    /* margin: 20px; */
    padding: 5px;
    padding-bottom: 10px;

    -webkit-box-shadow: 0px 0px 30px 5px rgba(0,0,0,0.21); 
    box-shadow: 0px 0px 30px 5px rgba(0,0,0,0.21);
}
.c-lodg-text {
    margin-left: 10px;
    margin-right: 10px;
}
.c-lodg-img {
    background-size: contain;
    height: 145px;
    padding: 5px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}
.rating {
    font-size: 0.8rem;
    margin: 10px;
    color:#dadada
}
.checked{
    color: #0065FC;
}



/* Horizontal cards */

/* POPULAR */
#popular {
    padding:20px;
    width: fit-content;
    min-width: fit-content;
    min-width: fit-content;
    /* margin: 15px; */
}
.c-pop {
    width: 300px;
    margin: 25px;
    padding: 5px;
    padding-bottom: 10px;

    -webkit-box-shadow: 0px 0px 30px 5px rgba(0,0,0,0.21); 
    box-shadow: 0px 0px 30px 5px rgba(0,0,0,0.21);
}
.c-pop-text {
    margin-left: 10px;
    margin-right: 10px;
}
.c-pop-img {
    background-size: contain;
    width: 40%;
    padding: 5px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}
.c-pop {
    background-size: contain;
    height: 145px;
    padding: 5px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    
}



.bot > .rating{
    margin-left: 0px;
    justify-self: center;
}
.fa-chart-line {
    align-self: center;
}

/* ACTIVITIES */

#activities {
    /* width: 100%; */
    height: 500px;
    padding: 0px;
}
.c-act {
    width: 85%; /* for display 3 cards on min 1280px larg screen*/
    height: 100%;
    margin: 20px;
    padding: 5px;
    padding-bottom: 10px;
    /* margin: 15px; */

    -webkit-box-shadow: 0px 0px 30px 5px rgba(0,0,0,0.21); 
    box-shadow: 0px 0px 30px 5px rgba(0,0,0,0.21);
}
.c-act-text {
    margin-left: 10px;
    margin-right: 10px;
}
.c-act-img {
    background-size: contain;
    height: 100%;
    padding: 5px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.container {
    width: 50%;
    justify-content: flex-end;
}
.act-col {
    width: 50%;
}



.allContent {
    width: 100%;
}

/* Footer */
footer {
    margin-top: 500px;
}

/* FlexBox */
.mbot {
    margin-bottom: 25px;
}
.flex {
    display: flex;
}
.col {

   flex-direction: column;
}

.justify-between {
    justify-content: space-between;
}
.justify-around {
    justify-content: space-around;
}
.flex-wrap {
    flex-wrap: wrap;
}
/* .oder-1{
    order: 1;
}
.oder-2 {
    order: 2;
}
.order-last {
    order: 999;
} */